[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
starlette = "*"
asyncpg = "*"
asyncio = "*"
sqlalchemy = "*"
pydantic-settings = "*"
passlib = "*"
python-jose = "*"
uvicorn = "*"
bcrypt = "*"
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.12"
